<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zsq.user.mapper.UserMapper">

<!--查询某一天注册人数-->

    <select id="getRegisterNumber" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from user
        WHERE DATE(user.gmt_create) = #{day}
    </select>

</mapper>
